@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background-color:#0E0E0E ;
    font-family: 'Montserrat', sans-serif;
}
.header{
    margin-top: 5px;
    margin-right: 0%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #0E0E0E;
}

.header__left{
    display: flex;
}

.header__left-logo{
    align-items: center;
    display: flex;
}

.header__right{
    display: flex;
}

.music{
    color: #1D1D1D;
    display: flex;
    margin-left: 90px;
}

.podkast{
    color: white;
    margin-left: 150px;
}

.exit{
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    width: 108px;
    height: 27px;
    font-size: 24px;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.search{
    display: flex;
    margin-top: 10px;
}

.search__ser{
    background-color: #0E0E0E;
}

.search__ser-text{
    background-color: #1D1D1D;
    color: #ffffff;
    display: flex; 
    width: 400px;
    border-radius: 30px;
    border: 1px solid #0E0E0E;
    height: 42px;
    padding-left: 10px;
    outline: none;
}

.search__ser-text-logo{
    background: #1D1D1D;
    cursor: pointer;
    position: absolute; 
    top: 0;
    right: -100px;
    width: 42px;
    height: 42px;
    border-radius: 0 30px 30px 0;
    border: 1px solid #0E0E0E;
}

.ritm{
    background-image: url('img/lychi.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: scroll;
    width: 1904px;
    height: 1080px;
}

.ritm__rt{
    display: flex;
}

.ritm__rt-text{
    display: flex;
    color: #ffffff;
    margin-top: 443px;
    margin-left: 911px;
}

.ritm__rt-play{
    margin-top: 502px;
    margin-left: -280px;
    display: flex;
}

.text1{
    display: flex;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 40px;
}

.text2{
    display: flex;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 40px;
}

::-webkit-scrollbar {
    width: 0;
  }

.main__scroll--block-left {
    min-width: 284px;
    max-height: 339px;
    height: 339px;
    margin: 20px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/Rectangle7.png');
    
  }

  .main__scroll--text {
    margin: 10px;
  }
  
  .main__scroll--icon {
    margin: 80px 50px;
  }

  .main__scroll {
    margin: 30px 0px;
    color: #8e8e8e;
    overflow: auto;
  }

  .main__scroll--blocks {
    gap: 40px;
    display: flex;
    overflow: auto;
    margin-left: 40px;
  }
  
  .main__scroll-blocks{
    display: none;
  }

  .main__scroll--block-genre{
    gap: 40px;
    display: flex;
    overflow: auto;
    margin-left: 40px;
  }

  .main__scroll--block-genre-pop {
    min-width: 200px;
    height: 232px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/pop.png');
    background-repeat: no-repeat;
}

   .main__scroll--block-genre-rok {
    min-width: 200px;
    height: 232px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/rok.png');
    background-repeat: no-repeat;
}

.main__scroll--block-genre-russiarap {
    min-width: 200px;
    height: 232px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/russiarap.png');
    background-repeat: no-repeat;
}

.main__scroll--block-genre-dance {
    min-width: 200px;
    height: 232px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/dance.png');
    background-repeat: no-repeat;
}

.main__scroll--block-genre-metall {
    min-width: 200px;
    height: 232px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/metall.png');
    background-repeat: no-repeat;
}

.main__scroll--block-genre-hip-hop {
    min-width: 200px;
    height: 232px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/hip-hop.png');
    background-repeat: no-repeat;
}

.main__scroll--block-genre-phonk {
    min-width: 200px;
    height: 232px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/phonk.png');
    background-repeat: no-repeat;
}

.main__chart {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.main__chart-number{
    color: #ffffff ;
    padding-left: 10px;
    margin-top: 17px;
}

.main__chart-text{
    display: flex;
    margin-left: 10px;
    margin-top: 25px;
    color: #ffffff;
}

.main__chart--first{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--second{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--third{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--fourth{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--fifth{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--sixth{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--seventh{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--eighth{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--ninth{
    display: flex;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}


.container__popularity{
    display: flex;
    padding-left: 120px;
}

.container__popularity--first{
    display: flex;
    width: 506px;
    height: 545px;
    background-color: #000000;
    border-radius: 20px;
}

.container__popularity--second{
    display: flex;
    width: 506px;
    height: 545px;
    background-color: #000000;
    margin-left: 61px;
    border-radius: 20px;
}
  
.container__popularity--third{
    display: flex;
    width: 506px;
    height: 545px;
    background-color: #000000;
    margin-left: 61px;
    border-radius: 20px;
}

.container__popularity--first-text{
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 25px;
}

.container__popularity--second-text{
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 25px;
}

.container__popularity--third-text{
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 25px;
}

.main__recently{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
}

.main__recently--first{
    width: 284px;
    height: 339px;
    background-color: #1D1D1D;
    margin-left: 30px;
    border-radius: 20px;
}

.main__recently--second{
    width: 284px;
    height: 339px;
    background-color: #1D1D1D;
    margin-left: 30px;
    border-radius: 20px;
}

.main__recently--third{
    width: 284px;
    height: 339px;
    background-color: #1D1D1D;
    margin-left: 30px;
    border-radius: 20px;
}

.main__recently--fourth{
    width: 284px;
    height: 339px;
    background-color: #1D1D1D;
    margin-left: 30px;
    border-radius: 20px;
}

.main__recently--fifth{
    width: 284px;
    height: 339px;
    background-color: #1D1D1D;
    margin-left: 30px;
    border-radius: 20px;
}

.container__basement--poloska{
    display: flex;
    width: 1920px;
    height: 1px;
    background-color: #1D1D1D;
    margin-top: 60px;
}

.container__basement--logo{
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.text3{
    display: flex;
    color: #ffffff;
    margin-top: 35px;
}

.container__basement--first-stolb{
    block-size: auto;
    text-align: center;
    float: inline-start;
    margin-left: 100px;
    margin-top: 10px;
}

.container__basement--second-stolb{
    display: inline-block;
    block-size: auto;
    float: inline-start;
    margin-left: 100px;
    margin-top: 10px;
}


  @media (min-width: 1450px){
    .header{
        margin-top: 5px;
        margin-right: 0%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #0E0E0E;
        max-width: 1920px;
    }
    
    .header__left{
        display: flex;
    }
    
    .header__left-logo{
        align-items: center;
        display: flex;
    }
    
    .header__right{
        display: flex;
    }
    
    .music{
        color: #1D1D1D;
        display: flex;
        margin-left: 90px;
    }
    
    .podkast{
        color: white;
        margin-left: 150px;
    }
    
    .exit{
        color: white;
        margin-left: 150px;
    }
    
    form {
        position: relative;
        width: 300px;
        margin: 0 auto;
    }
    
    .search{
        display: flex;
        margin-top: 10px;
    }
    
    .search__ser{
        background-color: #0E0E0E;
    }
    
    .search__ser-text{
        background-color: #1D1D1D;
        color: #ffffff;
        display: flex; 
        width: 400px;
        border-radius: 30px;
        border: 1px solid #0E0E0E;
        height: 42px;
        padding-left: 10px;
        outline: none;
    }
    
    .search__ser-text-logo{
        background: #1D1D1D;
        cursor: pointer;
        position: absolute; 
        top: 0;
        right: -100px;
        width: 42px;
        height: 42px;
        border-radius: 0 30px 30px 0;
        border: 1px solid #0E0E0E;
    }
    
    .ritm{
        background-image: url('img/lychi.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        width: 1904px;
        height: 1080px;
    }
    
    .ritm__rt{
        display: flex;
    }
    
    .ritm__rt-text{
        display: flex;
        color: #ffffff;
        margin-top: 443px;
        margin-left: 837px;
    }
    
    .ritm__rt-play{
        margin-top: 502px;
        margin-left: -314px;
        display: flex;
    }
    
    .text1{
        display: flex;
        color: #ffffff;
        margin-top: 20px;
        margin-left: 40px;
    }
    
    .text2{
        display: flex;
        color: #ffffff;
        margin-top: 20px;
        margin-left: 40px;
    }
    
    ::-webkit-scrollbar {
        width: 0;
      }
    
    .main__scroll--block-left {
        min-width: 284px;
        max-height: 339px;
        height: 339px;
        margin: 20px 0px;
        color: #1b1c21;
        display: flex;
        overflow: auto;
        background-image: url('img/Rectangle7.png');
        
      }
    
      .main__scroll--text {
        margin: 10px;
      }
      
      .main__scroll--icon {
        margin: 80px 50px;
      }
    
      .main__scroll {
        margin: 30px 0px;
        color: #8e8e8e;
        overflow: auto;
      }
    
      .main__scroll--blocks {
        gap: 40px;
        display: flex;
        overflow: auto;
        margin-left: 40px;
      }
      
      .main__scroll-blocks{
        display: none;
      }
    
      .main__scroll--block-genre{
        gap: 40px;
        display: flex;
        overflow: auto;
        margin-left: 40px;
      }
    
      .main__scroll--block-genre-pop {
        min-width: 200px;
        height: 232px;
        margin: 20px 35px 0px 0px;
        color: #1b1c21;
        display: flex;
        overflow: auto;
        background-image: url('img/pop.png');
        background-repeat: no-repeat;
    }
    
       .main__scroll--block-genre-rok {
        min-width: 200px;
        height: 232px;
        margin: 20px 35px 0px 0px;
        color: #1b1c21;
        display: flex;
        overflow: auto;
        background-image: url('img/rok.png');
        background-repeat: no-repeat;
    }
    
    .main__scroll--block-genre-russiarap {
        min-width: 200px;
        height: 232px;
        margin: 20px 35px 0px 0px;
        color: #1b1c21;
        display: flex;
        overflow: auto;
        background-image: url('img/russiarap.png');
        background-repeat: no-repeat;
    }
    
    .main__scroll--block-genre-dance {
        min-width: 200px;
        height: 232px;
        margin: 20px 35px 0px 0px;
        color: #1b1c21;
        display: flex;
        overflow: auto;
        background-image: url('img/dance.png');
        background-repeat: no-repeat;
    }
    
    .main__scroll--block-genre-metall {
        min-width: 200px;
        height: 232px;
        margin: 20px 35px 0px 0px;
        color: #1b1c21;
        display: flex;
        overflow: auto;
        background-image: url('img/metall.png');
        background-repeat: no-repeat;
    }
    
    .main__scroll--block-genre-hip-hop {
        min-width: 200px;
        height: 232px;
        margin: 20px 35px 0px 0px;
        color: #1b1c21;
        display: flex;
        overflow: auto;
        background-image: url('img/hip-hop.png');
        background-repeat: no-repeat;
    }
    
    .main__scroll--block-genre-phonk {
        min-width: 200px;
        height: 232px;
        margin: 20px 35px 0px 0px;
        color: #1b1c21;
        display: flex;
        overflow: auto;
        background-image: url('img/phonk.png');
        background-repeat: no-repeat;
    }
    
    .main__chart {
        display: flex;
        margin: 40px;
        flex-wrap: wrap;
        max-width: 2000px;
        justify-content: center;
    }
    
    .main__chart-number{
        color: #ffffff ;
        padding-left: 10px;
        margin-top: 17px;
    }
    
    .main__chart-text{
        display: flex;
        margin-left: 10px;
        margin-top: 25px;
        color: #ffffff;
    }
    
    .main__chart--first{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main__chart--second{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main__chart--third{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main__chart--fourth{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main__chart--fifth{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main__chart--sixth{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main__chart--seventh{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main__chart--eighth{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main__chart--ninth{
        display: flex;
        width: 525px;
        height: 100px;
        background-color: #1D1D1D;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    
    .container__popularity{
        display: flex;
        padding-left: 120px;
    }
    
    .container__popularity--first{
        display: flex;
        width: 506px;
        height: 545px;
        background-color: #000000;
        border-radius: 20px;
    }
    
    .container__popularity--second{
        display: flex;
        width: 506px;
        height: 545px;
        background-color: #000000;
        margin-left: 61px;
        border-radius: 20px;
    }
      
    .container__popularity--third{
        display: flex;
        width: 506px;
        height: 545px;
        background-color: #000000;
        margin-left: 61px;
        border-radius: 20px;
    }
    
    .container__popularity--first-text{
        display: flex;
        color: #ffffff;
        justify-content: center;
        margin-top: 25px;
    }
    
    .container__popularity--second-text{
        display: flex;
        color: #ffffff;
        justify-content: center;
        margin-top: 25px;
    }
    
    .container__popularity--third-text{
        display: flex;
        color: #ffffff;
        justify-content: center;
        margin-top: 25px;
    }
    
    .main__recently{
        display: flex;
        margin-top: 25px;
        margin-left: 30px;
    }
    
    .main__recently--first{
        width: 284px;
        height: 339px;
        background-color: #1D1D1D;
        margin-left: 30px;
        border-radius: 20px;
    }
    
    .main__recently--second{
        width: 284px;
        height: 339px;
        background-color: #1D1D1D;
        margin-left: 30px;
        border-radius: 20px;
    }
    
    .main__recently--third{
        width: 284px;
        height: 339px;
        background-color: #1D1D1D;
        margin-left: 30px;
        border-radius: 20px;
    }
    
    .main__recently--fourth{
        width: 284px;
        height: 339px;
        background-color: #1D1D1D;
        margin-left: 30px;
        border-radius: 20px;
    }
    
    .main__recently--fifth{
        width: 284px;
        height: 339px;
        background-color: #1D1D1D;
        margin-left: 30px;
        border-radius: 20px;
    }
    
    .container__basement--poloska{
        display: flex;
        width: 1920px;
        height: 1px;
        background-color: #1D1D1D;
        margin-top: 60px;
    }
    
    .container__basement--logo{
        display: flex;
        margin-top: 30px;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }
    
    .text3{
        display: flex;
        color: #ffffff;
        margin-top: 35px;
    }
    
    .container__basement--first-stolb{
        block-size: auto;
        text-align: center;
        float: inline-start;
        margin-left: 100px;
        margin-top: 10px;
    }
    
    .container__basement--second-stolb{
        display: inline-block;
        block-size: auto;
        float: inline-start;
        margin-left: 100px;
        margin-top: 10px;
    }
  }

  @media (max-width: 1400px){
    .header{
        margin-top: 5px;
        margin-right: 0%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #0E0E0E;
    }
    
    .header__left{
        display: flex;
    }
    .header__right{
        display: flex;
    }
    


    .header__left-logo{
        align-items: center;
        display: flex;
        width: 120px;
        height: 60px;
    }

    
    .music{
        color: #1D1D1D;
        display: flex;
        margin-left: 10px;
    }
    
    .podkast{
        color: white;
        margin-left: 50px;
    }
    
    .exit{
        color: white;
        margin-left: 50px;

    }
    
    form {
        position: relative;
        width: 300px;
        margin: 0 auto;
    }
    
    .search{
        display: flex;
        margin-top: 10px;
    }
    
    .search__ser{
        background-color: #0E0E0E;
    }
    
    .search__ser-text{
        background-color: #1D1D1D;
        color: #ffffff;
        display: flex; 
        width: 300px;
        border-radius: 30px;
        border: 1px solid #0E0E0E;
        height: 42px;
        padding-left: 10px;
        outline: none;
    }
    
    .search__ser-text-logo{
        background: #1D1D1D;
        cursor: pointer;
        position: absolute; 
        top: 0;
        right: 0px;
        width: 42px;
        height: 42px;
        border-radius: 0 30px 30px 0;
        border: 1px solid #0E0E0E;
    }

    .ritm{
        background-image: url('img/lychi.png');
        background-image: url('img/lychi.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        width: 100%;
        height: 1080px;
  }

  .ritm__rt{
    display: flex;
}

.ritm__rt-text{
    display: flex;
    color: #ffffff;
    margin-top: 443px;
    margin-left: 450px;
}

.ritm__rt-play{
    margin-top: 502px;
    margin-left: -297px;
    display: flex;
}

.text1{
    display: flex;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 40px;
}

.text2{
    display: flex;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 40px;
}

::-webkit-scrollbar {
    width: 0;
  }

.main__scroll--block-left {
    min-width: 160px;
    max-height: 200px;
    height: 200px;
    margin: 20px 0px;
    border-radius: 20px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/Rectangle7.png');
    
  }

  .main__scroll--text {
    margin: 10px;
  }
  
  .main__scroll--icon {
    margin: 80px 50px;
  }

  .main__scroll {
    margin: 30px 0px;
    color: #8e8e8e;
    overflow: auto;
  }

  .main__scroll--blocks {
    gap: 40px;
    display: flex;
    overflow: auto;
    margin-left: 40px;
  }
  
  .main__scroll-blocks{
    display: none;
  }

  .main__scroll--block-genre{
    gap: 40px;
    display: flex;
    overflow: auto;
    margin-left: 40px;
  }

  .main__scroll--block-genre-pop {
    min-width: 150px;
    height: 150px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/pop.png');
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 20px;
}

   .main__scroll--block-genre-rok {
    min-width: 150px;
    height: 150px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/rok.png');
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 20px;
}

.main__scroll--block-genre-russiarap {
    min-width: 150px;
    height: 150px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/russiarap.png');
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 20px;
}

.main__scroll--block-genre-dance {
    min-width: 150px;
    height: 150px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/dance.png');
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 20px;
}

.main__scroll--block-genre-metall {
    min-width: 150px;
    height: 150px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/metall.png');
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 20px;
}

.main__scroll--block-genre-hip-hop {
    min-width: 150px;
    height: 150px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/hip-hop.png');
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 20px;
}

.main__scroll--block-genre-phonk {
    min-width: 150px;
    height: 150px;
    margin: 20px 35px 0px 0px;
    color: #1b1c21;
    display: flex;
    overflow: auto;
    background-image: url('img/phonk.png');
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 20px;
}

.main__chart {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.main__chart-number{
    color: #ffffff ;
    padding-left: 10px;
    margin-top: 17px;
}

.main__chart-text{
    display: flex;
    margin-left: 10px;
    margin-top: 25px;
    color: #ffffff;
}

.main__chart--first{
    display: flex;
    width: 450px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
    margin: auto;
}

.main__chart--second{
    display: flex;
    width: 450px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
    margin: auto;
}

.main__chart--third{
    display: flex;
    width: 450px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}

.main__chart--fourth{
    display: flex;
    width: 450px;
    height:100px;
    background-color: #1D1D1D;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}

.main__chart--fifth{
    display: flex;
    width: 450px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}

.main__chart--sixth{
    display: flex;
    width: 450px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}

.main__chart--seventh{
    display: none;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.main__chart--eighth{
    display: none;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.container__popularity--first-gg{
    width: 300px;
    height: 300px;
}

.main__chart--ninth{
    display: none;
    width: 525px;
    height: 100px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.container__popularity{
    display: flex;
    padding-left: 30px;
}

.container__popularity--first{
    display: flex;
    width: 300px;
    height: 380px;
    background-color: #000000;
    border-radius: 20px;
    margin-left: 10px;
}

.container__popularity--second{
    display: flex;
    width: 300px;
    height: 380px;
    background-color: #000000;
    margin-left: 61px;
    border-radius: 20px;
}
  
.container__popularity--third{
    display: flex;
    width: 300px;
    height: 380px;
    background-color: #000000;
    margin-left: 61px;
    border-radius: 20px;
}




.container__popularity--first-text{
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 25px;
}

.container__popularity--second-text{
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 25px;
}

.container__popularity--third-text{
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 25px;
}

.cont{
    float: left;
    margin-top: 20px;
}

}

  @media (max-width: 767px){

  }